.projetoTopo {
  margin-top: 100px;
}

.tituloProjetos {
  background-image: linear-gradient(180deg, var(--c1) 0%, var(--c2) 100%);
  background-clip: text;
  color: transparent;
  padding-left: 60px;
  position: relative;
  margin-bottom: -38px;
}

.tituloProjetos::before {
  content: "";
  display: block;
  width: 15px;
  height: 5.5rem;
  background: var(--c3);
  position: absolute;
  left: 30px;
  top: 16px;
}

.projectsBg {
  background: linear-gradient(180deg, var(--c1) 0%, var(--c3) 100%);
}

.projects {
  padding: 60px 0;
}
